<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Create_Review.Settings.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Create_Review.Settings.Settings>
            <setting name="Groups" serializeAs="String">
                <value />
            </setting>
            <setting name="Selected" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdateNeeded" serializeAs="String">
                <value>True</value>
            </setting>
        </Create_Review.Settings.Settings>
    </userSettings>
</configuration>