<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Create_Review.Settings.Jira" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Create_Review.Settings.ReviewAuth" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Create_Review.Settings.ReviewGroups" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Create_Review.Settings.Jira>
            <setting name="Server" serializeAs="String">
                <value>http://localhost/jira/browse/</value>
            </setting>
        </Create_Review.Settings.Jira>
        <Create_Review.Settings.ReviewAuth>
            <setting name="Server" serializeAs="String">
                <value>http://localhost/reviewboard</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Authenticated" serializeAs="String">
                <value>False</value>
            </setting>
        </Create_Review.Settings.ReviewAuth>
        <Create_Review.Settings.ReviewGroups>
            <setting name="Groups" serializeAs="String">
                <value />
            </setting>
            <setting name="Selected" serializeAs="String">
                <value />
            </setting>
        </Create_Review.Settings.ReviewGroups>
    </userSettings>
</configuration>